@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media only screen and (max-width: 400px) {
  #box-shadow {
    width: 280px !important;
    height: 280px;
    
  }
  .rcp-dark{
    width: 265px !important;
  }
}